<body class="bg-blueviolet">

  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form class="login" [formGroup]="loginForm" (ngSubmit)="logIn()">
      <div class="container mt-4">
        <div class="welcome">
          <label class="h2">Bienvenido al portal de la</label>
          <label class="h2">Universidad de Nueva York</label>
        </div>
        <div class="form-group">
          <label class="font-weight-bold">RUT:</label>
          <input formControlName="rut" type="text" appRutFormat class="form-control">
        </div>
        <div class="form-group">
          <label class="font-weight-bold">Contraseña:</label>
          <input formControlName="password" type="password" class="form-control">
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <button class="btn-login btn-block text-sm btn text-white btn-block mt-2" type="submit">Acceder</button>
        </div>
      </div>
    </form>
  </div>
</body>